.slcache/ 
.classpath
.project
.settings/
/target/
/classes/
wrapper/
.DS_Store
*.iml
*.ipr
*.iws
out/
ext/
src/groovy/com/omnitech/mis/scripts
ApplyAlert.groovy
ApplyWAU.groovy
Deploy.groovy
VoteYs.groovy  

.idea/*
!.idea/codeStyleSettings.xml
/sms/.idea/
*.gz
application.properties